/bin/*
!/bin/transcc_java
!/bin/transcc_java.bat
!/bin/*.txt
/bin/*.develop.*.txt

/.output/*

/node_modules/*
*.build*
/src/build-*

/Monkey
/Monkey.app
/Monkey.exe

/docs/html
buildconfig.json
bin/templates.txt
.idea
mungo.exe
